<div class="container" style="padding: 60px">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Student Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="numkhk" class="form-label">Number of Attempts</label>
      <input type="number" class="form-control" id="numkhk">
    </div>
    <div class="mb-3">
      <label for="dsad" class="form-label">Percentage</label>
      <input type="number" class="form-control" id="dsad">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-primary" style="margin-left: 5px" (click)="backToLogin()">Back</button>
  </form>
</div>
