<div class="p-3">
  <div class="container" style="background-color:#17a2b8">
    <h1>Student Management System - CRUD Example</h1>
    <p style="color: yellow;">To check all the functionalities click on the above navigations.</p>
    <p>An example app showing how to list, add, edit and delete students records with Angular 17.</p>
    <br>
    <p>Volkswagen Group, also known as Volkswagen AG, is a major German automobile manufacturer123. It was founded in 1937 by the German Labour Front, a Nazi organization, to mass-produce a low-priced “people’s car”1. The company is headquartered in Wolfsburg, Germany12. It designs, manufactures and distributes passenger and commercial vehicles, motorcycles, engines, and turbomachinery2. Volkswagen is known for the iconic Beetle and serves as the flagship brand of the Volkswagen Group, the largest automotive manufacturer by worldwide sales in 2016 and 20173.</p>
    <!-- <p><a routerLink="/users">&gt;&gt; Manage Users</a></p> -->
  </div>
</div>
